@model Motorista.Entidades.DeNegocio.Usuario

@{
    ViewData["Title"] = "Login";
}
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Iniciar session</h6>
    </div>
    <div class="card-body ">
        <div class="row">
            <div class="col-md-12">
                <form asp-action="Login">
                    <input type="hidden" name="pReturnUrl" value="@ViewBag.Url" />
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="Login" class="control-label"></label>
                            <input asp-for="Login" class="form-control" />
                            <span asp-validation-for="Login" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="Password" class="control-label"></label>
                            <input asp-for="Password" class="form-control" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                    </div>
                    <br />
                    <div class="col-md-4">
                        <input type="submit" value="Iniciar" class="btn btn-primary" />
                    </div>
                    <span class="text-danger">@ViewBag.Error</span>
                </form>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
